.projects_wrapper {
    width: 100vw;
    text-align: center;
    z-index: 1;
    background: none;
    background-repeat: no-repeat;
    background-position: bottom right;
}

.projects_title {
    font-size: calc(var(--index) *3);
    background: none;
}

.projects_nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: calc(var(--index) *1);
    margin: calc(var(--index) *1);
    z-index: 2;
    background: none;
}

.projects_nav a {
    position: relative;
    margin: 0 2vw;
    padding: 2vh 2vh;
    border: 2px solid var(--color-header);
    border-radius: 2vh;
    transition: 500ms;
    font-weight: 600;
    z-index: 2;
    mix-blend-mode: overlay;
    filter: contrast(-2);
}

.projects_nav a:hover {
    background-color: rgb(184, 229, 252);
    color: black;
}

.projects_nav .active {
    background-color: rgb(184, 229, 252, 85%);
    color: black;
}