.section {
    width: 100vw;
    margin-top: calc(var(--index) * 5);
    color: wheat;
}

.back_btn {
    background: none;
}

.back_btn a {
    margin-left: calc(var(--index) * 2);
    padding: calc(var(--index) *0.6);
    border: 1px solid wheat;
    border-radius: 1vh;
    text-align: center;
    cursor: pointer;
}

.back_btn a:hover {
    background: wheat;
    color: rgb(15, 15, 15);
}