.response_wrapper {
    height: calc(var(--index) * 5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vh calc(var(--index) * 1);
}


.response_body {
    color: var(--color-text);
    font-size: calc(var(--index) * 2);
}

.response_btn_body {
    font-size: calc(var(--index) * 1.5);
    font-family: outfit-c;
    border: 1px solid var(--color-text);
    border-radius: 2vh;
    padding: calc(var(--index) *0.3) calc(var(--index) *1);
    color: var(--color-text);
    cursor: pointer;
    background: none;
}

.response_btn_body:hover {
   border:3px solid var(--color-text);
}
.loader_response_gif {
    width: calc(var(--index) *5);
}

.response_btn_loader {
    width: calc(var(--index)*3);
    height: calc(var(--index)*2);
    
}