.home_video_wrapper video {
    width: calc(var(--index)*22);
    border: none;
    opacity: 0.8;
    z-index: 1;
    margin: 0 calc(var(--index)*2);
}
.home_title {
    text-align: center;
    font-size: calc(var(--index)*3);
    margin-top: calc(var(--index)*3);
}
.home_video_wrapper {
display: grid;
grid-template-columns: 2fr 2fr;
text-align: center;
margin-top: calc(var(--index)*1);
}
@media screen and (max-width: 450px) {
    .home_video_wrapper {
        display: grid;
        grid-template-columns: 1fr;
    }
    .home_video_wrapper p {
        margin:calc(var(--index)*1) calc(var(--index)*1);

    }
}

.home_video_wrapper p {
    font-size: calc(var(--index) *.7);
}