.newsBody_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: calc(var(--index)*1);
}
.news_body_title {
    color: var(--color-header);
    font-size: calc(var(--index)*2);
    border-bottom: 2px solid rgb(30,136,229);
    margin: calc(var(--index)*1);
}
.newsBody_wrapper h4 {
    display: grid;
    align-content: center;
    width: calc(var(--index)*12);
    height: calc(var(--index)*10);
    border-bottom: 3px solid rgb(255,213,0);
    padding: calc(var(--index)*1);
}
.newsBody_wrapper h4:after {
    content: '';
    margin: calc(var(--index)*0.5);
    transition: 300ms;
}
.newsBody_wrapper h4:hover::after {
    content: 'click to See More';
    transition: 300ms;
}
.newsBody_wrapper h4:hover {
    border-bottom: 10px solid rgb(255,213,0);
    transition: 300ms;
}
.newsBody_wrapper h4 a {
    font-size: calc(var(--index)*1);
}

/* Media configs */


@media screen and (max-width: 450px) {
    .newsBody_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}