.header_wrapper {
	width: 100vw;
	margin: calc(var(--index) * 2);
	display: grid;
	grid-template-columns: 1fr 1fr;
	overflow-x: hidden;
}


.header_bg {
    width: calc(var(--index) * 25);
	z-index: 1;
	background: none;
}

.header_title {
	margin-top: calc(var(--index) * 11);
	font-size: calc(var(--index) * 4);
	width: min-content;
	line-height: 1.1;
	color: var(--color-text);
	background: none;
	z-index: 2;
}