.App {
    display: grid;
    color: aliceblue;
    overflow-x: hidden;
}

.color_picker {
    position: absolute;
    left: 2vw;
    top: 1vh;
    height: calc(var(--index)*2);
    background: none;
    border: none;
    font-size: calc(var(--index)*0.7);
    font-weight: 600;
    color: var(--color-text);
    background-color:rgb(30,136,229) ;
    padding: 0 2vw;
    border-radius: 1vw;
    cursor: pointer;
}

.clock {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: calc(var(--index)*2);
    right: 2vw;
    top: 1vh;
    color: aliceblue;
    transition: 1000ms;
    background: none;
    border: none;
    font-size: calc(var(--index)*0.7);
    font-weight: 600;
    color: var(--color-text);
    background-color:rgb(30,136,229) ;
    padding: 0 2vw;
    border-radius: 1vw;
    z-index: 2;
}

