* {
	position: relative;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}


:root {
	--index: calc(1vw + 1vh);
	--color-header: #f4efec;
	--color-text: #cdc6c3;

}

@font-face {
	font-family: raleway-c;
	src: url(./assets/fonts/raleway-regular.woff2);
}

@font-face {
	font-family: outfit-c;
	src: url(./assets/fonts/outfit-regular.woff2);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: outfit-c;
}

p,
span,
a {
	font-family: raleway-c;
}

a {
	text-decoration: none;
	color: var(--color-header);
}

::-webkit-scrollbar {
	width: 0;
}